{% extends 'base.html.twig' %}

{% block title %}Nova - Gestion des opérations{% endblock %}

{% block body %}

    {% if not app.user %}
        {% include 'security/_login.html.twig' %}
    {% else %}
        <a href="{{path('logout')}}">Se déconnecter</a>
    {% endif %}

{% endblock %}
